FLASK_SECRET_KEY=generate-a-long-random-secret-key
FLASK_DEBUG=0
USE_SQLITE=0
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=jakkash_property
DEFAULT_ADMIN_PASSWORD=jodika
COMPANY_EMAIL=Jakkashproperty@gmail.com
COMPANY_ADDRESS=40,Ganesh Krupa Soc,Opp Gail Tower ,Anand Mahal Road ,Surat 395009
COMPANY_WHATSAPP=918511751119
